/* Start Main Var */
/* End Main Var */
/* Start Classes For Extends */
nav .auth a, .filter-search .second > div button, .provider-nav .categories ul li, .provider-nav .sharing button, .provider-nav .sharing > svg, .provider-ui .rating, .provider-content .provider-promo button svg, .provider-content .posts .post-describe .post-info button, .provider-content .gallery .img-popup svg, .view-post .main-view-post .add-comments button, nav ul li a {
  transition: all 0.3s linear;
}

.landing header .overlay, .provider-header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.landing header, .provider-header {
  background-size: cover;
}

.provider-content .provider-features div ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.provider-content .provider-features div ul li {
  display: inline-block;
  margin-right: 25px;
  margin-bottom: 30px;
}

/* End Classes For Extends */
/* Start Main Components */
nav {
  background-color: #2e3f6e;
  height: 10vh;
  line-height: 10vh;
}

nav .brand {
  float: left;
  color: #4db7fe;
  font-size: 33px;
  font-weight: 700;
  margin-bottom: 5px;
}

nav .brand span {
  color: #fff;
}

nav .brand svg {
  color: #fff;
  margin-right: -11px;
  margin-bottom: -15px;
  font-size: 60px;
}

nav .auth {
  float: right;
}

nav .auth a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}

nav .auth a:hover {
  color: #4db7fe;
}

nav .auth a svg {
  margin-right: 7px;
}

nav .auth span {
  color: #fff;
}

nav .logged-nav .user-logged-info {
  float: right;
  color: #fff;
}

nav .logged-nav .user-logged-info .avatar {
  display: inline-block;
  padding: 7px;
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

.filter-search {
  margin: 50px auto;
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 3px;
}

.filter-search .first {
  width: 100%;
}

.filter-search .first > div {
  float: left;
  margin-right: 20px;
  width: 31%;
}

.filter-search .first > div input, .filter-search .first > div .second > div button, .filter-search .second > div .first > div button {
  width: 100%;
  height: 46px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #e5e7f2;
  padding-left: 10px;
  background-color: #f9f9f9;
  color: #7d93b2;
  margin-bottom: 20px;
}

.filter-search .second {
  width: 100%;
}

.filter-search .second > div {
  float: left;
  margin-right: 20px;
  width: 40%;
}

.filter-search .second > div:last-child {
  width: 14.3%;
}

.filter-search .second > div input, .filter-search .second > div button {
  width: 100%;
  height: 46px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #e5e7f2;
  padding-left: 10px;
  background-color: #f9f9f9;
  color: #7d93b2;
  margin-bottom: 20px;
}

.filter-search .second > div button {
  background-color: #4db7fe;
  color: #fff;
  height: 50px;
  cursor: pointer;
}

.filter-search .second > div button:hover {
  background-color: #2e3f6e;
}

.filter-search .second > div button:hover svg {
  color: #4db7fe;
}

/* End Main Components */
/* =============================== Start Landing Page =============================== */
.landing header {
  height: 90vh;
  background-image: url("../src/images/1.jpg");
  position: relative;
}

.landing header .overlay {
  color: #fff;
  text-align: center;
}

.landing header .overlay h1 {
  font-size: 46px;
  line-height: 70px;
  font-weight: 900;
  margin-bottom: 10px;
  margin-top: 25vh;
}

.landing header .overlay h3 {
  font-size: 12px;
  font-weight: 600;
}

.landing header .search-bar {
  width: 80%;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  height: 10vh;
  margin: auto;
  margin-top: 60px;
  box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.3);
}

.landing header .search-bar div {
  float: left;
  width: 25%;
}

.landing header .search-bar div input, .landing header .search-bar .filter-search .second > div button, .filter-search .landing header .search-bar .second > div button {
  outline: none;
  border: none;
}

/* =============================== End Landing Page =============================== */
/* =============================== Start Map Page =============================== */
.map-header {
  height: 90vh;
  background-color: #ccc;
}

/* =============================== End Map Page =============================== */
/* =============================== Start Provider Page =============================== */
.provider-header {
  height: 80vh;
  background-image: url("./images/6.jpg");
  position: relative;
}

.provider-header .overlay {
  color: #fff;
}

.provider-header .MuiContainer-root {
  position: absolute;
  bottom: 0;
  left: 2vw;
}

.provider-nav {
  height: 10vh;
  line-height: 10vh;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  margin-bottom: 70px;
}

.provider-nav .categories {
  float: left;
  border-right: 1px solid #ddd;
  padding-right: 20px;
}

.provider-nav .categories ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.provider-nav .categories ul li {
  display: inline-block;
  margin-right: 50px;
  color: #7d93b2;
  font-size: 13px;
  font-weight: 800;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}

.provider-nav .categories ul li svg {
  margin-right: 7px;
}

.provider-nav .categories ul li:hover {
  color: #4db7fe;
}

.provider-nav .sharing {
  float: right;
}

.provider-nav .sharing button {
  background: #2e3f6e;
  border: none;
  color: #fff;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
}

.provider-nav .sharing button:not(:last-child) {
  margin-right: 10px;
}

.provider-nav .sharing button svg {
  color: #4db7fe;
  margin-right: 10px;
}

.provider-nav .sharing button:hover {
  background-color: #4db7fe;
}

.provider-nav .sharing button:hover svg {
  color: #2e3f6e;
}

.provider-nav .sharing > svg {
  cursor: pointer;
  color: #7d7d7d;
}

.provider-nav .sharing > svg:hover {
  color: #2e3f6e;
}

.provider-info {
  float: left;
  margin-bottom: 25px;
}

.provider-info span {
  margin-right: 15px;
}

.provider-info span svg {
  margin-right: 10px;
  color: #4db7fe;
}

.provider-ui {
  width: 100%;
}

.provider-ui .rating {
  float: right;
  border-radius: 50px;
  padding: 10px 10px 0;
  width: 250px;
  cursor: pointer;
  box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.3);
}

.provider-ui .rating div {
  float: left;
}

.provider-ui .rating div:first-child {
  border-radius: 50%;
  background-color: #2e3f6e;
  padding: 15px;
  font-weight: 700;
  margin-right: 20px;
}

.provider-ui .rating .chat svg {
  float: right;
  font-size: 46px;
  color: rgba(255, 255, 255, 0.2);
  margin-left: 25px;
}

.provider-ui .rating svg {
  font-size: 20px;
  display: block;
}

.provider-ui .rating:nth-child(2) p {
  margin-top: 0px;
}

.provider-ui .rating:hover {
  background-color: rgba(6, 27, 65, 0.45);
}

hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: #5f5f5f;
  margin-top: 20px;
}

.provider-bottom-header p {
  float: right;
  border: 1px dashed rgba(255, 255, 255, 0.21);
  background: rgba(255, 255, 255, 0.11);
  color: #fff;
  display: block;
  padding: 8px 15px;
  font-size: 12px;
  border-radius: 4px;
}

.provider-bottom-header p:not(:first-child) svg {
  color: #4db7fe;
  margin-right: 7px;
}

.provider-bottom-header p:nth-child(3) {
  margin-right: 20px;
}

.provider-bottom-header p:first-child {
  float: left;
  margin-bottom: 10px;
  line-height: 30px;
  border: none;
  background: none;
}

.provider-bottom-header p:first-child svg {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 10px;
  background-color: #f75c96;
}

.provider-content {
  float: left;
  width: 60%;
  margin-right: 5%;
}

.provider-content > div:not(:first-child) {
  display: none;
}

.provider-content .provider-promo {
  width: 100%;
  border-radius: 10px;
  background-image: url(./images/48.jpg);
  background-size: cover;
  height: 80vh;
  position: relative;
  margin-bottom: 40px;
}

.provider-content .provider-promo button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.3);
  color: #7d93b2;
  padding: 10px 20px;
  border-radius: 50px;
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.provider-content .provider-promo button svg {
  margin-right: 30px;
  border-radius: 50%;
  padding: 10px;
  background-color: #4db7fe;
  color: #fff;
  margin-bottom: -9px;
}

.provider-content .provider-promo button span {
  padding: 10px 10px 10px 0px;
  display: inline-block;
  margin-bottom: 0;
}

.provider-content .provider-promo button:hover svg {
  background-color: #2e3f6e;
}

.provider-content .provider-description, .provider-content .provider-features {
  margin-bottom: 40px;
}

.provider-content .provider-description div, .provider-content .provider-features div {
  padding: 15px;
}

.provider-content .provider-description div p, .provider-content .provider-features div p {
  color: #878c9f;
}

.provider-content .provider-description div:first-child, .provider-content .provider-features div:first-child {
  border: 1px solid #ddd;
  border-radius: 10px 10px 0 0;
  color: #566985;
  font-size: 15px;
  font-weight: 600;
}

.provider-content .provider-description div:first-child svg, .provider-content .provider-features div:first-child svg {
  float: right;
  font-size: 10px;
  color: #4db7fe;
  margin-top: 7px;
}

.provider-content .provider-description div:last-child, .provider-content .provider-features div:last-child {
  border: 1px solid #ddd;
  border-radius: 0 0 10px 10px;
  border-top: none;
}

.provider-content .provider-description button, .provider-content .provider-features button {
  background-color: #2e3f6e;
  border: none;
  padding: 15px 25px;
  color: #fff;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  margin-top: 30px;
}

.provider-content .provider-description button svg, .provider-content .provider-features button svg {
  color: #4db7fe;
  margin-left: 15px;
}

.provider-content .provider-features div ul li {
  color: #878c9f;
}

.provider-content .provider-features div ul li svg {
  color: #4db7fe;
}

.provider-content .provider-single-fact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.provider-content .provider-single-fact > div {
  background-color: #4db7fe;
  border-radius: 10px;
  width: 26%;
  padding: 20px;
}

.provider-content .provider-single-fact > div .fac {
  float: left;
  width: 73%;
  color: #fff;
}

.provider-content .provider-single-fact > div .fac p {
  font-size: 40px;
  font-weight: 700;
  margin: -10px 0 -15px;
}

.provider-content .provider-single-fact > div .icon {
  float: left;
  width: 24%;
  color: rgba(255, 255, 255, 0.21);
  font-size: 50px;
  margin-left: 3%;
}

.provider-content .provider-content > div:not(:first-child) {
  display: none;
}

.provider-content .posts {
  border: 1px solid #ccc;
  margin-bottom: 40px;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
}

.provider-content .posts .post-img {
  border: 1px solid #ccc;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 5px 5px 0px #ccc;
  height: 490px;
}

.provider-content .posts .post-img img {
  width: 100%;
  height: 490px;
}

.provider-content .posts .post-describe {
  margin-top: 40px;
}

.provider-content .posts .post-describe h2 {
  color: #566985;
  margin-top: 0;
}

.provider-content .posts .post-describe p {
  color: #878c9f;
}

.provider-content .posts .post-describe hr {
  background-color: #ccc;
}

.provider-content .posts .post-describe .post-info span {
  color: #7d93b2;
}

.provider-content .posts .post-describe .post-info span svg {
  color: #4db7fe;
}

.provider-content .posts .post-describe .post-info button {
  float: right;
  background-color: #2e3f6e;
  color: #fff;
  border: none;
  padding: 12px 35px;
  border-radius: 10px;
  cursor: pointer;
}

.provider-content .posts .post-describe .post-info button svg {
  margin-left: 20px;
  color: #4db7fe;
}

.provider-content .posts .post-describe .post-info button:hover {
  background-color: #4db7fe;
}

.provider-content .posts .post-describe .post-info button:hover svg {
  color: #2e3f6e;
}

.provider-content .gallery {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 50px;
}

.provider-content .gallery .gallery-img {
  border: 1px solid #ccc;
  border-radius: 10px;
  float: left;
  width: 33.06%;
  height: 167px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.provider-content .gallery .gallery-img img {
  width: 100%;
  height: 167px;
}

.provider-content .gallery .gallery-img .img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(6, 27, 65, 0.45);
  display: none;
}

.provider-content .gallery .gallery-img .img-overlay svg {
  position: absolute;
  top: 70px;
  left: 105px;
  padding: 10px;
  border-radius: 50%;
  background-color: #4db7fe;
  color: #fff;
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.3);
}

.provider-content .gallery .img-popup {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 9999;
}

.provider-content .gallery .img-popup img {
  width: 700px;
  margin: 15vh 23vw;
}

.provider-content .gallery .img-popup svg {
  color: #fff;
  z-index: 20;
  font-size: 30px;
  position: absolute;
  right: 50px;
  top: 20px;
  cursor: pointer;
}

.provider-content .gallery .img-popup svg:hover {
  color: #4db7fe;
}

.provider-sidebar {
  float: left;
  width: 35%;
}

.active {
  color: #4db7fe !important;
  display: block;
}

.view-post nav {
  margin-bottom: 70px;
}

.view-post * {
  box-sizing: border-box;
  overflow: hidden;
}

.view-post .main-view-post {
  float: left;
  width: 70%;
}

.view-post .main-view-post .whole-post {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 40px;
}

.view-post .main-view-post .whole-post .img {
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 550px;
  box-shadow: 0px 5px 5px 0px #ccc;
  margin-bottom: 40px;
}

.view-post .main-view-post .whole-post .img img {
  width: 100%;
  height: 550px;
}

.view-post .main-view-post .whole-post .str p {
  color: #878c9f;
  line-height: 30px;
}

.view-post .main-view-post .whole-post .str hr {
  background-color: #ccc;
}

.view-post .main-view-post .whole-post .str .poster-info {
  margin-top: 25px;
}

.view-post .main-view-post .whole-post .str .poster-info .MuiFormControlLabel-root {
  float: right;
}

.view-post .main-view-post .whole-post .str .poster-info .MuiFormControlLabel-root .MuiFormControlLabel-label {
  color: #878c9f;
}

.view-post .main-view-post .whole-post .str .poster-info .MuiFormControlLabel-root .MuiCheckbox-colorSecondary.Mui-checked {
  color: #2e3f6e;
}

.view-post .main-view-post .whole-post .str .poster-info .avatar {
  float: left;
  margin-right: 20px;
  background-color: #2e3f6e;
}

.view-post .main-view-post .whole-post .str .poster-info p {
  float: left;
  margin-right: 30px;
  margin-top: 6px;
}

.view-post .main-view-post .whole-post .str .poster-info p svg {
  margin-right: 7px;
  color: #4db7fe;
}

.view-post .main-view-post .posts-comments, .view-post .main-view-post .add-comments {
  margin-bottom: 40px;
}

.view-post .main-view-post .posts-comments > div, .view-post .main-view-post .add-comments > div {
  padding: 15px;
}

.view-post .main-view-post .posts-comments > div p, .view-post .main-view-post .add-comments > div p {
  color: #878c9f;
}

.view-post .main-view-post .posts-comments > div:first-child, .view-post .main-view-post .add-comments > div:first-child {
  border: 1px solid #ddd;
  border-radius: 10px 10px 0 0;
  color: #566985;
  font-size: 15px;
  font-weight: 600;
}

.view-post .main-view-post .posts-comments > div:first-child span, .view-post .main-view-post .add-comments > div:first-child span {
  color: #4db7fe;
  font-weight: 700;
}

.view-post .main-view-post .posts-comments > div:first-child svg, .view-post .main-view-post .add-comments > div:first-child svg {
  float: right;
  font-size: 10px;
  color: #4db7fe;
  margin-top: 7px;
}

.view-post .main-view-post .posts-comments > div:last-child, .view-post .main-view-post .add-comments > div:last-child {
  border: 1px solid #ddd;
  border-radius: 0 0 10px 10px;
  border-top: none;
}

.view-post .main-view-post .posts-comments > div:last-child .post-img, .view-post .main-view-post .add-comments > div:last-child .post-img {
  float: left;
  width: 15%;
}

.view-post .main-view-post .posts-comments > div:last-child .post-img .avatar, .view-post .main-view-post .add-comments > div:last-child .post-img .avatar {
  width: 85px;
  height: 85px;
  margin-left: 20px;
  font-size: 40px;
  margin-top: 25px;
  background-color: #2e3f6e;
}

.view-post .main-view-post .posts-comments > div:last-child .comment, .view-post .main-view-post .add-comments > div:last-child .comment {
  float: right;
  width: 82%;
  background-color: #f5f6fa;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  overflow: visible;
}

.view-post .main-view-post .posts-comments > div:last-child .comment h3, .view-post .main-view-post .add-comments > div:last-child .comment h3 {
  color: #566985;
  margin-top: 0;
}

.view-post .main-view-post .posts-comments > div:last-child .comment p, .view-post .main-view-post .add-comments > div:last-child .comment p {
  margin-top: -10px;
}

.view-post .main-view-post .posts-comments > div:last-child .comment hr, .view-post .main-view-post .add-comments > div:last-child .comment hr {
  background-color: #e5e7f2;
}

.view-post .main-view-post .posts-comments > div:last-child .comment svg, .view-post .main-view-post .add-comments > div:last-child .comment svg {
  color: #4db7fe;
  margin-right: 10px;
}

.view-post .main-view-post .posts-comments > div:last-child .comment span, .view-post .main-view-post .add-comments > div:last-child .comment span {
  color: #878c9f;
}

.view-post .main-view-post .posts-comments > div:last-child .comment::before, .view-post .main-view-post .add-comments > div:last-child .comment::before {
  content: "";
  display: block;
  width: 0;
  border-top: 15px solid transparent;
  border-right: 15px solid #f5f6fa;
  border-bottom: 15px solid transparent;
  position: absolute;
  top: 50px;
  left: -15px;
}

.view-post .main-view-post .add-comments textarea {
  background-color: #f5f6fa;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  display: block;
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}

.view-post .main-view-post .add-comments button {
  padding: 10px 20px;
  background-color: #2e3f6e;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.view-post .main-view-post .add-comments button:hover {
  background-color: #4db7fe;
}

.view-post .main-view-post .add-comments button:hover svg {
  color: #2e3f6e;
}

.view-post .main-view-post .add-comments button svg {
  margin-left: 20px;
  color: #4db7fe;
}

.view-post .sidebar-post {
  float: left;
  width: 25%;
  margin-left: 5%;
  background-color: #ddd;
}

/* =============================== End Provider Page =============================== */
/* =============================== Start Dashboard Page =============================== */
.dashboard * {
  box-sizing: border-box;
}

.dashboard .dashboard-header {
  background-color: #6db6fd;
  height: 40vh;
  position: relative;
}

.dashboard .dashboard-header h3 {
  margin-top: 0;
  position: absolute;
  bottom: 0px;
  left: 200px;
  color: #fff;
}

.dashboard .dashboard-nav {
  background-color: #ccc;
  height: 15vh;
  position: relative;
}

.dashboard .dashboard-nav .dashboard-avatar {
  position: absolute;
  top: -65px;
  left: 60px;
}

.dashboard .dashboard-nav .dashboard-avatar .avatar {
  width: 120px;
  height: 120px;
  font-size: 3.25em;
  border: 5px solid #fff;
  border-radius: 50%;
  background-color: #2e3f6e;
}

.dashboard .main-dashboard {
  margin-top: 70px;
}

.dashboard .main-dashboard .dashboard-sidebar {
  float: left;
  width: 25%;
  margin-right: 5%;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.dashboard .main-dashboard .dashboard-sidebar div {
  cursor: pointer;
  padding: 20px;
}

.dashboard .main-dashboard .dashboard-sidebar div:not(:nth-child(3)):not(:nth-child(5)):hover {
  background-color: #4db7fe;
}

.dashboard .main-dashboard .dashboard-sidebar div #fac:hover {
  background-color: #4db7fe;
}

.dashboard .main-dashboard .dashboard-sidebar .dash-show-add {
  display: none;
}

.dashboard .main-dashboard .dashboard-sidebar .dash-des {
  display: none;
}

.dashboard .main-dashboard .dashboard-content {
  float: left;
  width: 70%;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  height: 2000px;
}

.dashboard .main-dashboard .dashboard-content > div:not(:first-child) {
  display: none;
}

/* =============================== End Dashboard Page =============================== */
/* Start Footer */
.main-footer {
  background-color: #325096;
  overflow: hidden;
}

.main-footer * {
  box-sizing: border-box;
}

.main-footer .subscribe .MuiContainer-maxWidthLg div {
  float: left;
}

.main-footer .subscribe .MuiContainer-maxWidthLg div:first-child {
  width: 35%;
  margin-right: 5%;
}

.main-footer .subscribe .MuiContainer-maxWidthLg div:last-child {
  width: 60%;
}

.main-footer .subscribe .MuiContainer-maxWidthLg div:last-child input, .main-footer .subscribe .MuiContainer-maxWidthLg div:last-child .filter-search .second > div button, .filter-search .second > div .main-footer .subscribe .MuiContainer-maxWidthLg div:last-child button {
  border: none;
  outline: none;
  width: 80%;
  border-radius: 50px;
  height: 39px;
  margin-top: 20px;
}

.subscribe {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  overflow: hidden;
  padding: 10px;
}

.subscribe h4 {
  color: #fff;
}

.subscribe h5 {
  color: rgba(163, 158, 158, 0.938);
  margin-top: -22px;
}

.subscribe h4 span {
  color: #3eaafd;
}

p {
  color: #fff;
}

.footer-news .contact ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.footer-news .contact ul li {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.11);
  width: 70%;
  border-radius: 50px;
  margin-bottom: 10px;
  line-height: 20px;
}

.footer-news .contact ul li svg {
  color: #4db7fe;
  margin-right: 15px;
}

.footer-news .contact ul li span {
  color: #fff;
  vertical-align: super;
}

.footer-news {
  overflow: hidden;
}

.footer-news .MuiContainer-maxWidthLg > div {
  float: left;
  width: calc(100% / 3);
  padding: 10px;
}

.footer-news .last-news h3 {
  color: #fff;
  border-bottom: 1px solid #bbb;
  position: relative;
  padding-bottom: 25px;
}

.footer-news .last-news hr {
  border: none;
  height: 0.5px;
  background: #b5b5b56b;
}

.footer-news .last-news h3::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 50px;
  height: 1px;
  background-color: #4db7fe;
}

.footer-news .last-news > div > div {
  width: 25%;
  margin-right: 5%;
  overflow: hidden;
  float: left;
}

.footer-news .last-news > div > div:first-child img {
  width: 100%;
  border-radius: 5px;
}

.footer-news .last-news > div > div:last-child p {
  color: #fff;
}

.footer-news .last-news > div > div:last-child svg {
  color: #4db7fe;
  margin-right: 15px;
  width: 16px;
}

.footer-news .last-news > div > div:last-child {
  float: left;
  width: 65%;
}

.twitter {
  margin-right: 0%;
}

.footer-news .twitter h3 {
  color: #fff;
  border-bottom: 1px solid #bbb;
  position: relative;
  padding-bottom: 25px;
}

.footer-news .twitter h3::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 50px;
  height: 1px;
  background-color: #4db7fe;
}

.footer-news .twitter ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.footer-news .twitter ul li {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.11);
  width: 100%;
  border-radius: 10px;
  margin-bottom: 30px;
  line-height: 20px;
  position: relative;
}

.footer-news .twitter ul li::after {
  content: "";
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(255, 255, 255, 0.11);
  border-bottom: 10px solid transparent;
  display: block;
  width: 0;
  position: absolute;
  bottom: -20px;
  left: 70px;
}

.footer-news .twitter p {
  font-size: 11px;
  /* color: #fff;
    float: left;
    padding: 20px 22px;
    font-weight: 500;
    margin-bottom: 10px;
    position: relative; */
}

h1 {
  border: none;
}

.copyright {
  text-align: center;
  color: #fff;
  background-color: #253966;
  padding: 20px;
}

/* End Footer */
.post-block {
  margin-bottom: 15px;
  border: 1px solid #ccc;
  overflow: hidden;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 5px 5px 0 #ccc;
  clear: both;
  position: relative;
}

.post-img-div {
  float: left;
  width: 12%;
  overflow: hidden;
  height: 60px;
  margin-right: 2%;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.post-img-div img {
  width: 100%;
  height: 60px;
}

.post-descri-div {
  float: left;
  width: 60%;
}

.post-descri-div h4 {
  color: #566985;
  font-size: small;
  margin-top: 0;
}

.post-descri-div p {
  color: #7d93b2;
  font-size: 12px;
  margin-block-start: -1em;
  display: block;
}

.post-edit-delete {
  position: absolute;
  top: 10;
  right: 0;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 50px 0 0 50px;
  box-shadow: 5px 4px 5px #b1b1b1;
}

.post-edit-delete p {
  position: absolute;
  z-index: 9999;
  color: #fff;
  background-color: #2e3f6e;
  padding: 10px 25px;
  display: none;
}

.post-edit-delete p:first-of-type {
  top: -9px;
  right: 120px;
}

.post-edit-delete p:last-of-type {
  top: -9px;
  right: 60px;
}

.post-edit-delete .edit-icon {
  background-color: #4db7fe;
}

.post-edit-delete .delete-icon {
  background-color: #fe4d65;
}

.post-edit-delete svg {
  color: #fff;
  width: 40px !important;
  height: 40px !important;
  padding: 10px;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
}

/*cooper style*/
.locate {
  position: absolute;
  top: 100px;
  right: 10px;
  background: none;
  border: none;
  z-index: 10;
  outline: none;
}

.locate img {
  height: 100px;
  width: 100px;
  cursor: pointer;
}

/* Start Mini Map */
.mini-map > div {
  border: 1px solid #ccc;
  padding: 20px;
}

.mini-map > div:not(:last-child) {
  border-bottom: none;
}

.mini-map > div:nth-child(2) {
  height: 320px;
  overflow: hidden;
  padding: 0;
}

.mini-map > div:first-child {
  border-radius: 5px 5px 0 0;
}

.mini-map > div:last-child {
  border-radius: 0 0 5px 5px;
}

/* End Mini Map */
nav ul {
  list-style: none;
  float: right;
  line-height: 55px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

nav ul li a:hover {
  color: #4db7fe;
}

.dash-add {
  display: flex;
  flex-direction: column;
}

.dash-add .post-area {
  border: 2px solid #2e3f6e;
  border-radius: 20px;
}
